# Catch up with #11 Scott

In [126]:
stdin = """
ball 5 2
box 10 5
ball 10 3.5
ball 5 2
"""

print(stdin)
print(type(stdin))

ball 5 2
box 10 5
ball 10 3.5
ball 5 2

<class 'str'>

In [123]:
# The strip() method returns a copy of the string by removing both the leading and the trailing characters 
# string.strip(' xoe') removed all whitespace,x, o, and e that lead or trailed the string.

#stdin = stdin.strip().split('\n')
#print(stdin)

['ball 5 2', 'box 10 5', 'ball 10 3.5', 'ball 5 2']

In [124]:
#lines = [line.split() for line in stdin]
#lines


# recombine lines back into a list of strings
# join함수는 리스트의 문자열들을 합치는 역할을 합니다.
# lines = [' '.join(x) for x in lines]

[['ball', '5', '2'],
 ['box', '10', '5'],
 ['ball', '10', '3.5'],
 ['ball', '5', '2']]

In [128]:
lines = stdin.strip().split('\n')
seen = []
unique = 0 

for index, line in enumerate(lines[:-1]):
    if line in seen: continue
    for other_line in lines[index+1: ]:
        if other_line in seen: continue
        if line == other_line:
            seen.append(line)
            break
        else:
            unique += 1
print(unique)
print(seen)

3
['ball 5 2']

# try again #11

In [129]:
lines = stdin.strip().split('\n')
seen = []
unique = 0

for index, line in enumerate(lines):
    if line in seen:
        continue
    for other_line in lines[index+1: ]:
        if other_line in seen:
            continue
        elif line == other_line:
            seen.append(line)
            break
        else:
            unique += 1
print(unique)

3

# Question for #11

In [ ]:
# Q1) 고친점--> enumerate(lines[:-1]): #왜 뒤에꺼 하나는 빼지? 아무리 다르다고 알아도 포함시켜야하는거 아님?

# Q2) I tried for loop to use built-in input
no_of_lines = 4
line = ""
for i in range(no_of_lines):
    line = line + input() + "\n"
print(line) # this gives us the input?
x = line.splitlines()

# BECAUSE,
I've tried
x = list(map(str, input().split())) 
print(x)
and it only gave me ['ball', '5', '2].

# Q3) Is it bad to use set()function to find distinct ones, just like what I did?

# Q4) what is a good project?
# Q5) gap between the course and actual coding interview?

==============================================================================================================

# Catch up with #12 Scott

In [158]:
STDIN = "1 7 2 10 20 4"

In [159]:
#convert to a list of integers
nums = [int(x) for x in STDIN.split()]
nums

[1, 7, 2, 10, 20, 4]

In [160]:
# create tuples, to remember value and position 
nums = [(position, value) for position, value in enumerate(nums)]
print('Output of list in form of (position, value): \n', nums)

Output of list in form of (position, value):
 [(0, 1), (1, 7), (2, 2), (3, 10), (4, 20), (5, 4)]

In [161]:
# sort the value in descending order
nums2 = sorted(nums, key=lambda x: x[1], reverse=True)
print('Sorted list in descending order:\n', nums2)

Sorted list in descending order:
 [(4, 20), (3, 10), (1, 7), (5, 4), (2, 2), (0, 1)]

In [162]:
# take the first 3 tuples and divide them by 2

for index, item in enumerate(nums2[:3]):
    position, value = item
    value /= 2
    nums2[index] = (position, value) # replace with the new value
print('Numbers after division: \n', nums2)

Numbers after division:
 [(4, 10.0), (3, 5.0), (1, 3.5), (5, 4), (2, 2), (0, 1)]

In [163]:
# put the list back in the original order

nums3 = sorted(nums2)
print('Numbers back in the original order:\n', nums3)

Numbers back in the original order:
 [(0, 1), (1, 3.5), (2, 2), (3, 5.0), (4, 10.0), (5, 4)]

In [164]:
# remove tuples

n = [item[1] for item in nums3]
print('Numbers with only the numbers:\n',n)

Numbers with only the numbers:
 [1, 3.5, 2, 5.0, 10.0, 4]

In [165]:
# convert the whole numbers back to integers instead of float

# [int(x) if x - int(x) == 0 else x for x in n]

new = []

for x in n:
    if x - int(x) == 0:
        x = int(x)
        new.append(x)
    else:
        x = x
        new.append(x)
print('Nums with whole integers and float fractionals:\n', new)

Nums with whole integers and float fractionals:
 [1, 3.5, 2, 5, 10, 4]

In [167]:
# convert list to string

new2 = ' '.join(str(x) for x in new)
new2

'1 3.5 2 5 10 4'

# Try again #12

In [172]:
STDIN = "1 7 2 10 20 4"

numbers = [(int(x), position) for position, x in enumerate(STDIN.split())]
numbers.sort(reverse = True)
print(numbers)


for index, item in enumerate(numbers[:3]):
    numbers[index] = (item[0]/2, item[1])
    
numbers.sort(key= lambda x: x[1])
print(numbers)

numbers= ' '.join([str(int(i[0])) if i[0]-int(i[0])==0 else str(i[0]) for i in numbers])
print(numbers)

[(20, 4), (10, 3), (7, 1), (4, 5), (2, 2), (1, 0)]
[(1, 0), (3.5, 1), (2, 2), (5.0, 3), (10.0, 4), (4, 5)]
1 3.5 2 5 10 4

# Duplicate Products (#11)

In [70]:
In the question, I'm given a product list on multiple lines of Standard Input. 

Input(stdin)
ball 5 2
box 10 5
ball 10 3.5
ball 5 2

I've tried
x = list(map(str, input().split())) 
print(x)
and it only gave me ['ball', '5', '2].

1. Is the following lines of code working the same as the question?
2. How would you write it?
3. This took me like 5 hours... is it normal?

SyntaxError: invalid syntax (<ipython-input-70-1f3660fa0e6e>, line 1)

In [3]:
no_of_lines = 4
line = ""

for i in range(no_of_lines):
    line = line + input() + "\n"
    
print(line) # this gives us the input?

x = line.splitlines()

ball 5 2
box 10 5
ball 10 3.5
ball 5 2
ball 5 2
box 10 5
ball 10 3.5
ball 5 2

In [54]:
x[0]

'ball 5 2'

In [57]:
ll = [x[i].split() for i in range(0, len(x))] # x[i] is a string, so we can use .split() function.
ll

[['ball', '5', '2'],
 ['box', '10', '5'],
 ['ball', '10', '3.5'],
 ['ball', '5', '2']]

In [60]:
# Convert the elements of list into tuples
tt = [tuple(ll[i]) for i in range(0, len(ll))]
tt

[('ball', '5', '2'),
 ('box', '10', '5'),
 ('ball', '10', '3.5'),
 ('ball', '5', '2')]

In [64]:
# Get a list of distinct tuples
distincts = list(set(tt))

In [65]:
distincts

[('ball', '5', '2'), ('ball', '10', '3.5'), ('box', '10', '5')]

In [69]:
# The number of dictinct products
len(distincts)

3

In [77]:
# Make it as a function!

def dist_products(products):
    for i in range(0, len(x)):
        l = list(x[i].split())
        for j in range(0, len(l)):
            t = list(tuple(ll[j]))
            n = len(list(set(t)))
            return n

In [78]:
dist_products(x)

3

# Replace Numbers (#12)

In [ ]:
sort -> find top3 --> divide by 2 --> replace them by these divided numbers --> print the new line.

In [91]:
ns = list(map(int, input().split(" ")))

1 7 2 10 20 4

In [92]:
ns

[1, 7, 2, 10, 20, 4]

In [99]:
nss = sorted(ns, reverse=True)
nss

[20, 10, 7, 4, 2, 1]

In [ ]:
# divide first three elements by 2.

In [105]:
for index, item in enumerate(nss):
    if index <= 2:
        nss[index] = nss[index]/2
print(nss)

[10.0, 5.0, 3.5, 4, 2, 1]

In [111]:
# make it as a function!
numbers = list(map(int, input().split(" ")))

def replace_numbers(numbers):
    n = sorted(numbers, reverse=True)
    for index, item in enumerate(n):
        if index <= 2:
            n[index] = n[index]/2
    return n

replace_numbers(numbers)

1 7 2 10 20 4

[10.0, 5.0, 3.5, 4, 2, 1]

In [ ]:
#https://careerkarma.com/blog/python-replace-item-in-list/
prices = [99.95, 72.50, 30.00, 29.95, 55.00]
for index, item in enumerate(prices):
	if item > 50:
		prices[index] = round(prices[index] - (prices[index] * 10 / 100), 2)

print(prices)

In [79]:
# https://www.geeksforgeeks.org/python-get-unique-tuples-from-list/
test_list = [(4, 5), (6, 1), (4, 5), (6, 1)] 
res = list(set(test_list)) 
res

[(6, 1), (4, 5)]

In [43]:
for i in x:
    ll = (',').join(i.split())
    print(ll)

ball,5,2
box,10,5
ball,10,3.5
ball,5,2

In [47]:
a,b,c = list(ll)

ValueError: too many values to unpack (expected 3)

In [46]:
ll2

['b', 'a', 'l', 'l', ',', '5', ',', '2']

In [24]:
#lst = [[50],["Python"],["JournalDev"],[100]]
lst_tuple =list(map(tuple, x))
print(lst_tuple)

[('b', 'a', 'l', 'l', ' ', '5', ' ', '2'), ('b', 'o', 'x', ' ', '1', '0', ' ', '5'), ('b', 'a', 'l', 'l', ' ', '1', '0', ' ', '3', '.', '5'), ('b', 'a', 'l', 'l', ' ', '5', ' ', '2')]

In [ ]:
lst1 = [10,20,30]
lst2 = [50,"Python","JournalDev"]
lst_tuple = list(zip(lst1,lst2))
print(lst_tuple)